extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block scripts  
    link(rel="stylesheet" href="/prettyifyTheme/desert.css")
    link(rel="stylesheet" href="components/Feedback/errors.css")
    link(rel="stylesheet" href="components/Feedback/feedbackMini.css")
    script(src="/prettyify/run_prettify.js")
    script(src="/socket.io/socket.io.js")

block content
    div(ng-controller="feedbackCtrl").uk-container
        div(ng-if="files.length > 0")
            div.toolSelection
                form(action="/feedback" method="post")#toolSelectionFrm.uk-form-horizontal
                    div
                        label(for="toolSelector").uk-form-label View feedback from tool:
                        div.uk-form-controls
                            select(ng-model="toolSel" ng-options="tool for tool in toolsUsed track by tool"  ng-init="toolSel = ( filterByTool ? filterByTool : toolsUsed[0])" onchange="this.form.submit()" value="{{tool}}" name="toolSelector")#toolSelectorId.uk-select

                    if visualTools && visualTools.length > 0
                        div(ng-repeat="vtool in visualTools")
                            a(href=vtool.route).uk-button.uk-button-default {{ vtool.name }}

                if feedbackStats
                    div.feedbackStatsSection
                        hr
                        ul(uk-accordion)
                            li
                                h3.uk-accordion-title
                                    | Feedback Stats
                                    span(class="uk-visible@l") (click to expand)
                                div.uk-accordion-content
                                    include feedbackStatsTable.pug

                div.generalErrorsSection
                    if feedbackItems && feedbackItems.length > 0
                        hr
                        ul(uk-accordion)
                            li
                                h3.uk-accordion-title
                                    |  {{(feedbackItems|filter:allowFeedbackType).length}} of #{feedbackItems.length} Feedback Messages
                                    span(class="uk-visible@l") (click to expand)
                                div.uk-accordion-content
                                    include feedbackErrorTable.pug
                    else
                        h4 No errors were found!

            hr
            div.filesSection
                uib-tabset(active="active")
                    uib-tab(index="$index" ng-repeat="file in files" heading="{{file.originalname}}" disable="{{tab.disabled}}")
                        div(autocomplete="false" autocheck="false" spellcheck="false" contenteditable="false")#ifsText.uk-padding-bottom
                            pre( ng-class="{true: 'prettyprint', false: ''}[toolType == 'programming']")
                                code( dynamic="getFeedback(file)")
                        br

                div(class="uk-offcanvas-content")
                    include popover.pug

    script(src="components/Feedback/feedbackController.js")
    script(src="/components/InteractionEvents/browserFeedbackEvents.js")
